<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="workwear" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="personpack" translate="label" type="text" sortOrder="30"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Personpacks</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fee_per_person" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Fee Per Person (£)</label>
                    <comment>Charged once per named person in a personpack order. Default: 2.50</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="label" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Total Label</label>
                    <comment>Label shown in order totals and admin order view.</comment>
                </field>
                <field id="person_label" translate="label comment" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Item "Person" Label</label>
                    <comment>Label for the person name shown on order item options. Default: Person</comment>
                </field>
                <field id="pack_label" translate="label comment" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Item "Pack" Label</label>
                    <comment>Label for the pack sequence shown on order item options. Default: Pack</comment>
                </field>
            </group>
        </section>
    </system>
</config>
